<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sgdy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pulltorefresh.PullToRefreshScrollViewActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshViewPagerActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshWebView2Activity" />
        <activity android:name=".pulltorefresh.PullToRefreshWebViewActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshExpandableListActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshGridActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshListActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshListFragmentActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshListInViewPagerActivity" />
        <activity android:name=".pulltorefresh.PullToRefreshHorizontalScrollViewActivity" />
    </application>

</manifest>
